@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <base href="/"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Book - CRUD Example</title>
    @Styles.Render("~/Content/Styles")
</head>
<body>
    <div>
        <app-root></app-root>
    </div>
    @Scripts.Render("~/Script/Bundles")
</body>
</html>
